<h1>Write some stuff</h1>
<form action="/new_entry" method="post">
<input type="text" name="title" placeholder="Title" /><br>
<input type="text" name="contents" placeholder="dear diary..." /><br>
<input type="submit" value="Save to Diary" />
</form>
